{% extends 'base.html.twig' %}

{% block title %}Angelus Cosy IMMO!{% endblock %}

{% block body %}
<div class="w-100">
    <section id="video-fond">
        <video playsinline="" autoplay="" muted="" loop="" poster={{ asset("build/images/video.png") }}>
            <source src="{{ asset("build/video/video.mp4") }}" type="video/mp4">
            <source src="{{ asset("build/video/video.webm") }}" type="video/webm">
        </video>
    </section>
    <section id="team" class="d-flex flex-row justify-content-center align-items-center">
        <div class="img img-l">
            <img src="{{ asset('build/images/portraits.webp') }}" alt="Portait des collaborateurs du groupe">
        </div>
        <div class="line"></div>
        <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto hic ipsum libero nam perferendis quas reprehenderit saepe totam, voluptas. Aliquam debitis dicta doloribus eveniet fuga modi similique, suscipit tenetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aspernatur autem consequuntur cumque dolor dolore doloremque eius eligendi libero maiores non nulla quidem quis sit tempora, tempore ullam ut voluptatem?</div>
        <div class="line"></div>
        <div class="img img-r">
            <img src="{{ asset('build/images/interiors.webp') }}" alt="Portait des collaborateurs du groupe">
        </div>
    </section>
    <section id="houses">
        <div class="card-house position-relative mx-auto">
            <div class="title position-absolute">Cocoon'Modern</div>
            <div class="infos position-absolute">
                78120 YERRES<br>128m2<br>Toit terrasse
            </div>
            <div class="image position-relative mr-auto">
                <img class="w-100" src="{{ asset('build/images/interiors.webp') }}" alt="Portait des collaborateurs du groupe">
            </div>
            <div class="description position-absolute">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa debitis fugit harum quam saepe similique. Asperiores atque doloremque eius error in quia, vitae voluptate voluptatum. Assumenda eaque quisquam suscipit?</div>
{#            <div class="serie d-flex flex-wrap">#}
{#                <div class="mini"></div>#}
{#                <div class="mini"></div>#}
{#                <div class="mini"></div>#}
{#                <div class="mini"></div>#}
{#                <div class="mini"></div>#}
{#                <div class="mini"></div>#}
{#                <div class="mini"></div>#}
{#            </div>#}
        </div>
        <div id="contact" class="text-center">
            <button>PRENDRE CONTACT</button>
        </div>
    </section>
</div>
{% endblock %}
