{{ form_start(form) }}
<div class="d-flex flex-row justify-content-around text-center">
    <div class="vich_image my-3 col-3">
        {{ form_label(form.leftPictureFile, null, {'label': 'Image de gauche'}) }}{{ form_errors(form.leftPictureFile) }}<br>
        {{ form_widget(form.leftPictureFile) }}
    </div>

    <div class="my-3 col-5">
        {{ form_label(form.text, null, {'label': 'Description'}) }}{{ form_errors(form.text) }}<br>
        {{ form_widget(form.text) }}
    </div>

    <div class="vich_image my-3 col-3">
        {{ form_label(form.rightPictureFile, null, {'label': 'Image de droite'}) }}{{ form_errors(form.rightPictureFile) }}<br>
        {{ form_widget(form.rightPictureFile) }}
    </div>
</div>

<div class="text-center">
    <button class="button">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
