{{ form_start(form) }}
<div class="d-flex flex-row justify-content-around text-center">
    <div class="my-3 col-3">
        <div>
            <img src="{{ asset('build/images/'~philosophy.leftPicture)|imagine_filter('width300') }}" alt="image left">
        </div>
        {{ form_label(form.leftPicture, null, {'label': 'Image de gauche'}) }}{{ form_errors(form.leftPicture) }}<br>
        {{ form_widget(form.leftPicture) }}
    </div>

    <div class="my-3 col-5">
        {{ form_label(form.text, null, {'label': 'Description'}) }}{{ form_errors(form.text) }}<br>
        {{ form_widget(form.text) }}
    </div>

    <div class="my-3 col-3">
        <div>
            <img src="{{ asset('build/images/'~philosophy.rightPicture)|imagine_filter('width300') }}" alt="image left">
        </div>
        {{ form_label(form.rightPicture, null, {'label': 'Image de droite'}) }}{{ form_errors(form.rightPicture) }}<br>
        {{ form_widget(form.rightPicture) }}
    </div>
</div>

<div class="text-center">
    <button class="button">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
